.a{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}        



.ceiling{
    margin-top: 1%;
    border-bottom: 1px solid;
    max-width: 1600px;
}

.ceil1{
    align-items: flex-start;
}

.logarray{
    display: flex;
    justify-content:space-around
}
.log{
    max-width: 50px;
    min-width: 20px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    
}
.logarray > .logname{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50px;
    min-width: 20px;
    width: 100%;
}
.logarray > .logname > p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
}

.col-2 > .logarray{
    height: 100%;
    align-items: center;
}

.col-2 > .logarray > div > button{
    flex-shrink: 0; /* 부모 크기에 따라 크기가 축소되지 않도록 설정 */
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}


                            /* 중앙부분 시작*/
                            /* 메뉴판 설정중*/
nav{
    height: 100vh;
    border-right: 1px solid;
}

.meun{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-height: 300px;
    height: 100%;
    margin-left: 0px;
    padding-right: 0px;
}


.body> .col-2> .row > .meun> .lin{
    position: relative;
    color: white;
    overflow: visible;
    z-index: 1;
}
.body> .col-2> .row > .meun> .lin> a{
    position: relative;
    text-decoration: none;
    color: black;
}

                 /* 메뉴판 드롭설정중*/


.dropdown{
    position: relative;
}

.dropdown-meun {
    display: none;
    position: relative;
    min-width: 160px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    text-decoration: none;
}

.dropdown:hover .dropdown-meun {
    display: block;
    background-color: white;
    color: black;
    visibility: visible;
    opacity: 1;
    text-decoration: none;
    z-index: 100;
}

.dropdown-meun a:hover {
    color: black;
    text-decoration: none;
}
            /* 중앙 정보 */
.cen{
    position: relative;
    display: inline-block;
    padding: 0px 70px;
    background-color: rgb(239, 239, 240);
}
.wrap1{
    outline: 1px solid;
    background-color: white;
    padding: 10px 10px;
}
.r{
    padding-left: 5px;
    padding-top: 5px;
}
label{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
}
p{
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
}

input{
    width: 100%;
}
select{
    width: 100%;
    max-height: 30px;
    height: 100%;
}

                /* r1 파트 */
.r1{
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid;
}

.r1 > p{
    font-size: 20px;
}
                
                /* r3 파트 */
                /* r4 파트 */

                /* r5 파트 */

.col-6 > textarea{
    width: 100%;
    height: 100%;
}

.wrap2{
    padding-top: 25px;
}